body {
	margin: 0;
	margin-top: 2px;
    width: 100vw;
    height: 90vh;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
	background-color: red;
	background-image: url("img/fundo.png");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
	display: flex;
	width: 100%;
	height: 10px;
}


.img-logo{
	width: 48vw;
 	position: relative;
  	margin-left: 40px;
  	transition: 1s all;
}

.img-logo:hover {
	transform: rotate3d(5, 5, 2, 9deg);
	margin-left: 10px;
}

.principal{
	display: flex;
	margin-top: 1px;
	margin-left: 30px;
	margin-right: 30px;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;

}

.titulo-principal {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
    margin-top: 2px;
    text-align: center;
}

.botoes {
    display: block;
    margin-left: 50%;
}


.iniciar {
    font-size: 15px;
    text-align: center;
    background-color: #36652d;
    color: #b3e3a9;
    width: 250px;
    height: 67px;
    padding: 15px 0;
    border: none;
    border-radius: 24px;
    font-weight: bold;
    transition: 1s all;
    cursor: pointer;
    
}

.iniciar:hover {
    background:#b3e3a9;
    color: #36652d;
    transform: scale(1.2);
}


.nova-palavra {
	margin-top: 20px;
    font-size: 15px;
    text-align: center;
    background-color: #6fa365;
    color: #36652d;
    width: 250px;
    height: 67px;
    padding: 15px 0;
    border: none;
    border-radius: 24px;
    column-gap: 8px;
    font-weight: bold;
    transition: 1s all;
    cursor: pointer;
}

.nova-palavra:hover {
    background: #b3e3a9;
    color:#36652d;
    transform: scale(1.2);
}

.nova-palavra a, .iniciar a {
	text-decoration: none;
}

.rodape2{
    display: none;
}


@media screen and (min-width: 321px){
.img-logo{
	margin-top: -5px;
  	margin-left: 60px;
  	transition: 1s all;
}

.img-logo:hover {
	margin-left: 40px;
}
.botoes{
	margin-top: 200px;
	margin-left: 35px;
}
	.principal, .titulo-principal {
	max-width: 100%;
	max-height: 100%;
	}
} 
.rodape{
	margin-top: 35px;
}

.git{
    margin-left: 35px;
}

.linked{
    margin-left: 25px;
}

.insta{
    margin-left: 25px;
}


@media screen and (min-width: 376px){
.img-logo{
  	margin-left: 70px;
}

.img-logo:hover {
	margin-left: 50px;
}
.botoes{
	margin-left: 60px;
}

.rodape{
	margin-top: 60px;
}

.git{
    margin-left: 60px;
}

.linked{
    margin-left: 25px;
}

.insta{
    margin-left: 25px;
}
}

@media screen and (min-width: 426px){

.img-logo{
  	margin-left: 80px;
}

.img-logo:hover {
	margin-left: 60px;
}
.botoes{
	margin-left: 80px;
}

.rodape{
	margin-top: 60px;
}

.git{
    margin-left: 80px;
}

.linked{
    margin-left: 25px;
}

.insta{
    margin-left: 25px;
}

}

@media screen and (min-width: 769px){

.img-logo{
  	margin-left: 60px;
}

.img-logo:hover {
	margin-left: 40px;
}
.botoes{
	margin-top: 150px;
	margin-left: 60%;
}

.rodape{
	display: block;
	margin-left: 460px;
	margin-top: 60px;
}

.git{
    margin-left: 1px;
}

.linked{
    margin-left: 25px;
}

.insta{
    margin-left: 25px;
}

}

@media screen and (min-width: 1025px){

.img-logo{
	margin-top: -10px;
	width: 34vw;
  	margin-left: 60px;
}

.img-logo:hover {
	margin-left: 40px;
}
.botoes{
	margin-top: 150px;
	margin-left: 60%;
}

.rodape{
	display: block;
	margin-left: 915px;
	margin-top: 60px;
}

.git{
    margin-left: 1px;
}

.linked{
    margin-left: 25px;
}

.insta{
    margin-left: 25px;
}

.git:hover{
    border-radius: 80px;
    box-shadow: 0 0 10px #b3e3a9, 0 0 40px #b3e3a9, 0 0 80px #b3e3a9;
}

.linked:hover{
    border-radius: 80px;
    box-shadow: 0 0 10px #b3e3a9, 0 0 40px #b3e3a9, 0 0 80px #b3e3a9;
}
.insta:hover{
    border-radius: 80px;
    box-shadow: 0 0 10px #b3e3a9, 0 0 40px #b3e3a9, 0 0 80px #b3e3a9;
}


}


