body {
	margin: 0;
	margin-top: 2px;
    width: 100vw;
    height: 90vh;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
	background-color: #000000;
	background-image: url("../img/bg.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
	display: flex;
	width: 100%;
	height: 10px;
}

.logo {
	display: block;
	margin-left: 40px;
	margin-bottom: 1px;
	width: auto;
	height: auto;
	max-width: 300px;
	max-height: 384px;
	transition: 1s all;
}

.logo:hover {
	transform: rotate3d(5, 5, 2, 9deg);
	margin-left: 10px;
}

.img-logo{
	width: 25vw;
 	position: relative;
  	margin-left: 40px;
  	transition: 1s all;
}

.img-logo:hover {
	transform: rotate3d(5, 5, 2, 9deg);
	margin-left: 10px;
}

.principal{
	display: flex;
	margin-top: 1px;
	margin-left: 30px;
	margin-right: 30px;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;

}

.titulo-principal {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
    margin-top: 2px;
    text-align: center;
}

.titulo-secundario {
    color: #b3e3a9;
    text-align: right;
    margin-top: 20px;
    margin-right: 40px;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;

}

#imagem {
	background-image: url("../img/forca01x.png");
	width: 234px;
	height: 344px;
    background-repeat: no-repeat;
}

.botoesX{
	margin-left: 160px;
}

#btnReiniciar{
	
    margin-bottom: 10px;
    display: block;
    margin-top: 20px;
    font-size: 15px;
    text-align: center;
    background-color: #6fa365;
    color: #36652d;
    width: 125px;
    height: 34px;
    border: none;
    border-radius: 24px;
    column-gap: 8px;
    font-weight: bold;
    transition: 1s all;
    cursor: pointer;

}

#btnReiniciar:hover {
    background:#b3e3a9;
    color: #36652d;
    transform: scale(1.2);
}

.inicio {
	
    font-size: 15px;
    text-align: center;
    background-color: #36652d;
    color: #b3e3a9;
    width: 125px;
    height: 34px;
   
    border: none;
    border-radius: 24px;
    column-gap: 8px;
    font-weight: bold;
    transition: 1s all;
    cursor: pointer;
}

.inicio:hover {
    background: #b3e3a9;
    color:#36652d;
    transform: scale(1.2);
}

.inicio a, .iniciar a {
	text-decoration: none;
}

.balde{
	display: none;
}

.flag{
	display: none;
}

#palavra-secreta {
	
	font-size: 1em;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

.letras {
	color: #b3e3a9;
	width: 16px;
	text-align: center;
	border-bottom: 2px solid;
	padding: 2px;
	margin-left: 2px;
	margin-right: 2px;
}

#teclado {
	margin-top: 30px;
}

.teclas button {
	padding: 2px;
	width: 24px;
	height: 24px;
	margin-top: 2px;
	margin-bottom: 5px;
	cursor: pointer;
	box-shadow: 0px 2px 8px black;
	border-radius: 5px;
	border: 1px solid black;
	color: #b3e3a9;
	background-color: #284123;
	font-family: 'Inter', sans-serif;
	font-weight: 900;
	transition: 0.6s all;
}

.teclas button:hover {
	transform: scale(1.3);
}

.teclas button:disabled{
	cursor: not-allowed;

}



#categoria {
	margin-top: 20px;
	color: #b3e3a9;
	font-size: 1.2em;
}

@media screen and (min-width: 321px){
.letras{
		width: 8px;
	}
	.botoesX{
	margin-left: 150px;
}
	.teclas-button{
		width: 25px;
		height: 25px;
	}
	.principal, .titulo-principal {
	max-width: 100%;
	max-height: 100%;
	}
	#categoria {
		margin-top: 5px;
		font-size: 1.3em;
	}
} 

@media screen and (min-width: 376px){

	.botoesX{
		margin-left: 190px;
	}
	.teclas button{
		width: 30px;
		height: 30px;
	}

	#palavra-secreta {
		font-size: 1.3em;
	}

	.letras{
		width: 18px;
	}

	.principal, .titulo-principal {
	max-width: 100%;
	max-height: 100%;
	}
	#categoria {
		margin-top: 10px;
		font-size: 1.5em;
	}
} 

@media screen and (min-width: 426px){
	.botoesX{
		margin-left: 230px;
	}

	.teclas button{
		width: 36px;
		height: 36px;
	}

	#palavra-secreta {
		font-size: 1.5em;
	}

	.letras{
		width: 20px;
	}

	.principal, .titulo-principal {
	max-width: 100%;
	max-height: 100%;
	}
	#categoria {
		font-size: 1.6em;
	}

	div .logo {
		width: 10%;
		height: 10%;
	}

} 

@media screen and (min-width: 769px){

.botoesX{
	margin-top: 300px;
	position: absolute;
	margin-left: 600px;
}

.img-logo{
	margin-top: -5px;
	width: 20vw;
 	position: relative;
  	margin-left: 40px;
  	transition: 1s all;
}

.img-logo:hover {
	transform: rotate3d(5, 5, 2, 9deg);
	margin-left: 5px;
}
	#imagem {
	width: 234px;
	height: 344px;
}

	#teclado{
		margin-top: 12px;
	}
	.teclas button{
		width: 43px;
		height: 43px;
		font-size: 1.5em;
	}

	#palavra-secreta {
		margin-top: 5px;
		font-size: 1.5em;
	}

	.letras{
		width: 20px;
	}

	.balde{
    display:table-cell;
    margin-left: 150px;
    -moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	}

	.flag{
    display: table;
    margin-top: -360px;
    margin-left: 1150px;
  
	}

	#categoria {
		margin-top: 2px;
		font-size: 1.7em;
	}


} 

}
.t-modal .modal-content{
	background-color:none;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border: none;

	
}

.t-modal .modal-title{
	background-color:none;
	border: none;
	color: #b3e3a9;
	font-weight: bold;
}

.t-modal .close{
	background-color:none;
	border: none;
	color: #c9ecc2;
	box-shadow: none;
}

.t-modal .close:hover{
	background-color:none;
	border: none;
	color: white;
	box-shadow: black;
}

.t-modal.primary .modal-content{
	
	border: none;
	
	background-color: #c9ecc2;
}

.t-modal.primary .modal-header{
	border: none;
	
	background-color: #284123;

}
.t-modal .modal-body{
	background-color:none;
	border: none;
	color: #284123;
	font-weight: bold;
}

.btn.btn-primary{
	background-color: #284123;
	border: none;
}

.btn.btn-primary:hover{
background-color: #6fa365;
border: none;
}

.modal-footer{
	background-color:none;
	background-image: url("img/zumbius.jpg");
	border: none;
}

animate__bounceInDown
